.channels-menu {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 80px;
	min-height: 90vh;
	width: 260px;
	background-color: #2c2f33;
}

#channels-menu-container {
	position: absolute;
	width: 260px;
	list-style: none;
	overflow-y: visible;
	overflow-x: hidden;
	height: 100%;
}

.category {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
	color: white;
}

.channel {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	text-align: left;
	color: white;

	transition: 0.3s;
}

.channel:hover {
	background-color: #23272a;
}

.voice-channel {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	text-align: left;
	color: white;

	transition: 0.3s;
}

.voice-channel:hover {
	background-color: #23272a;
}